#a {
  width: 600p;
  margin: 0 auto;
  background-color: aqua;
}
#b {
  width: 1650px;
  margin: 0 auto;
  color: fuchsia;
}
#c {
  width: 1650px;
  margin: 0 auto;
  color: fuchsia;
}

#d {
  width: 600p;
  margin: 0 auto;
  background-color: green;
}
